body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f2f5;
}

.image-section {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e0e0e0; /* Neutral background color */
}

.image-section img {
    max-width: 80%;
    height: auto;
}

.form-section {
    flex: 1;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

input {
    width: 95%;
    padding: 5px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 95%;
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px; /* Add spacing between buttons */
}

button:hover {
    background-color: gray;
}

/* Default link color */
a {
    color: black;
    text-decoration: none; /* Optional: Remove underline */
}

/* Change link color when clicked */
a:active {
    color: rgba(100, 97, 97, 0.473); /* Change this to your desired color */
}

